<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Secret Santa finder</title>
  </head>
  <body>
  MERRY CHRISTMAS!!
    <a href="https://www.flickr.com/photos/aussiegall/4202469533" title="Merry Christmas by Louise Docker, on Flickr"><img src="https://farm3.staticflickr.com/2552/4202469533_877b054fb5.jpg" width="339" height="500" alt="Merry Christmas"></a>

    i am b*******o!

    just kidding about that reveal.. 
    post your pictures along with a screenshot of this page and then i'll reveal myself. i hope you liked your gifts. see ya on the forums!
  </body>
</html>
